{#
  activities => [
    'title' => 'Item description',
    'timespent' => 'Time spent'
  minutes,
  
  http://localhost/workspace/NeonTimesheet/test.html
  http://localhost/workspace/timeshite/web/timesheet/chrome/summary/9F2ZSPOV
  
#}

<div>
    <div>
        <h3>Time logged</h3>
        <h4><a href='{{ url }}'>Go to timesheet</a></h4>
        {%  for activity in activities %}
            <div><label>{{ activity.title }}</label>{{ activity.timespent }}</div>
        {%  endfor %}
        <div><label>Total time:</label>{{ total }}</div>
    </div>
    <div>
        {% if customers | length == 1 %}
          <label>Customer:</label> {{  customers | first }}
        {% else %}
            <div>
              <label>Customer:</label>
              <select name='neontimesheet_customer' class='neontimesheet_customer'>
              {% for cid, customer in customers %} 
                <option value='{{ cid }}'>{{ customer }}</option>
              {% endfor %}
              </select>
            </div>
        {% endif %}
        <input type='time' name='neontribe_log_time' class='neontribe_duration' />
        <input type='button' value='Log Time' class='neontimesheet_button' />
    </div>
</div>
