{# modules/custom/timesheet/templates/byuuid.html.twig #} {# I can see
an argumrnt for rendering each entry in a template and allowing drupal
to do the iteration #}
{#  #}
<div>
	{% for id, entry in entries %}
	<div id="timesheet_entry_{{ id }} }}" class="timesheet_entry"
		title="{{ entry.getTitle }} by {{ entry.field_user.entity.getDisplayName }}">
		<a href="{{ path('timesheet.web_controller_edit', {'board': board, 'uuid': uuid, 'nid': id})}}"> {{ entry.field_activity_type.entity.name.value }}<br />
			{{ entry.field_date.value }}, {{ entry.field_duration.value }}
			mins
		</a>
	</div>
	{% endfor %}
	<div id='timesheet_new'><a href='{{ path('timesheet.web_controller_new', {'board': board, 'uuid': uuid})}}'>Log new time</a></div>
</div>